In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [20]:
#Name dataframe for cleaned data csv
csv = "cities.csv"

#Read the data
cities_df = pd.read_csv(csv)

In [21]:
cities_df.head()

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Severo-Kuril'sk,26.74,91,28,17.47,50.68,156.12
1,1,Chui,66.29,81,2,9.91,-33.70,-53.46
2,2,Kavaratti,86.02,64,1,2.08,10.57,72.64
3,3,Mataura,44.01,82,45,7.00,-46.19,168.86
4,4,Tuatapere,44.01,82,54,7.00,-46.13,167.68

In [22]:
locations = cities_df[['Latitude','Longitude']].astype(float)
cities_df = cities_df.dropna()
humidity = cities_df['Humidity'].astype(float)

In [23]:
gmaps.configure(api_key=g_key)

In [24]:

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
cities_df.head()

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Severo-Kuril'sk,26.74,91,28,17.47,50.68,156.12
1,1,Chui,66.29,81,2,9.91,-33.70,-53.46
2,2,Kavaratti,86.02,64,1,2.08,10.57,72.64
3,3,Mataura,44.01,82,45,7.00,-46.19,168.86
4,4,Tuatapere,44.01,82,54,7.00,-46.13,167.68

In [38]:
temp = cities_df.loc[cities_df["Temperature"] >=75, :]
temp

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
2,2,Kavaratti,86.02,64,1,2.08,10.57,72.64
6,6,Qandala,86.68,61,62,8.99,11.47,49.87
8,8,Garissa,89.22,51,100,18.97,-0.45,39.64
11,11,Rikitea,76.73,69,53,6.91,-23.12,-134.97
15,15,Vaini,77.00,88,40,5.82,-21.20,-175.20
...,...,...,...,...,...,...,...,...
539,539,Boyolangu,79.74,83,88,3.06,-8.12,111.89
540,540,Pavlodar,75.20,17,94,2.24,52.30,76.95
542,542,Eydhafushi,85.96,74,61,11.27,5.10,73.07
543,543,Kaka,78.04,21,6,6.85,37.35,59.61
549,549,Pontianak,82.40,74,40,4.70,-0.03,109.33

In [39]:
perfecttemp = temp.loc[temp["Temperature"] <=80, :]
perfecttemp

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
11,11,Rikitea,76.73,69,53,6.91,-23.12,-134.97
15,15,Vaini,77.00,88,40,5.82,-21.20,-175.20
16,16,Puerto Ayora,78.89,94,40,9.17,-0.74,-90.35
22,22,Les Cayes,79.57,75,11,8.81,18.20,-73.75
42,42,Ajdabiya,77.07,27,1,3.40,30.76,20.23
...,...,...,...,...,...,...,...,...
529,529,Dustlik,77.65,21,0,4.99,40.52,68.04
532,532,Lüderitz,75.20,50,0,6.93,-26.65,15.16
539,539,Boyolangu,79.74,83,88,3.06,-8.12,111.89
540,540,Pavlodar,75.20,17,94,2.24,52.30,76.95
543,543,Kaka,78.04,21,6,6.85,37.35,59.61

In [40]:
lowwind = perfecttemp.loc[perfecttemp['Wind Speed'] <10, :]
lowwind

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
11,11,Rikitea,76.73,69,53,6.91,-23.12,-134.97
15,15,Vaini,77.00,88,40,5.82,-21.20,-175.20
16,16,Puerto Ayora,78.89,94,40,9.17,-0.74,-90.35
22,22,Les Cayes,79.57,75,11,8.81,18.20,-73.75
42,42,Ajdabiya,77.07,27,1,3.40,30.76,20.23
44,44,Hermanus,78.01,51,82,8.01,-34.42,19.23
49,49,Mahina,78.39,78,75,2.24,-17.51,-149.49
51,51,Port Alfred,77.00,72,21,1.99,-33.59,26.89
52,52,Lufilufi,75.20,94,90,4.70,-13.87,-171.60
65,65,Sola,77.00,100,20,6.04,-13.88,167.55
74,74,Media Luna,78.06,72,0,3.27,20.14,-77.44
78,78,Yilan,79.41,39,65,4.68,24.76,121.75
83,83,Marsh Harbour,78.33,73,1,0.98,26.54,-77.06
102,102,Arraial do Cabo,75.97,78,40,5.82,-22.97,-42.03
105,105,Avarua,77.00,83,1,4.70,-21.21,-159.78
106,106,Hong Kong,77.04,74,77,8.01,22.29,114.16
111,111,Cao Bang,76.64,78,35,3.29,22.67,106.25
117,117,Voh,75.56,83,37,7.18,-20.97,164.70
122,122,Merauke,79.83,84,99,9.33,-8.47,140.33
161,161,Bourail,75.09,80,49,5.17,-21.57,165.48
174,174,Atambua,75.52,75,84,3.15,-9.11,124.89
175,175,Ciudad Guayana,79.11,70,89,6.96,8.35,-62.65
181,181,Bull Savanna,75.13,76,0,7.83,17.89,-77.59
209,209,Acapulco de Juárez,75.20,83,20,2.24,16.86,-99.89
222,222,Alice Springs,78.80,27,63,4.70,-23.70,133.88
228,228,Majene,79.18,83,100,2.46,-3.54,118.97
236,236,São João da Barra,76.98,78,20,7.09,-21.64,-41.05
293,293,Nchelenge,78.31,52,91,5.03,-9.35,28.73
299,299,Kaputa,78.04,53,96,4.54,-8.47,29.66
303,303,Mweka,79.54,62,100,3.67,-4.85,21.57
314,314,Tautira,78.39,78,75,2.24,-17.73,-149.15
332,332,Cabedelo,78.80,94,40,5.82,-6.98,-34.83
335,335,San Cristobal,77.00,83,40,2.24,7.77,-72.22
338,338,Wanning,78.67,87,70,9.80,18.80,110.40
339,339,Kiryat Gat,79.83,65,54,1.99,31.61,34.76
351,351,Kwang Binh,79.74,82,34,7.96,17.48,106.60
366,366,Pochutla,77.67,65,5,8.28,15.74,-96.47
384,384,Charters Towers,76.15,50,58,2.71,-20.10,146.27
388,388,Gamut,78.40,86,100,3.56,8.53,126.24
394,394,Adet,78.39,13,91,7.72,11.26,37.49
401,401,Arauca,75.20,100,90,4.70,7.08,-70.76
423,423,Teahupoo,78.39,78,75,2.24,-17.83,-149.27
426,426,Amuntai,76.66,90,72,1.72,-2.42,115.25
433,433,Kampene,75.92,80,100,1.63,-3.60,26.67
459,459,Poconé,76.39,82,53,1.52,-16.26,-56.62
487,487,Mareeba,75.24,94,42,1.23,-17.00,145.43
510,510,Aracaju,78.80,88,75,9.17,-10.91,-37.07
523,523,San Onofre,79.39,82,100,2.48,9.74,-75.53
528,528,Middelburg,75.47,20,11,9.73,-25.78,29.46
529,529,Dustlik,77.65,21,0,4.99,40.52,68.04
532,532,Lüderitz,75.20,50,0,6.93,-26.65,15.16
539,539,Boyolangu,79.74,83,88,3.06,-8.12,111.89
540,540,Pavlodar,75.20,17,94,2.24,52.30,76.95
543,543,Kaka,78.04,21,6,6.85,37.35,59.61

In [41]:
noclouds = lowwind.loc[lowwind['Cloudiness'] <1, :]
perfectweather = noclouds
perfectweather

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
74,74,Media Luna,78.06,72,0,3.27,20.14,-77.44
181,181,Bull Savanna,75.13,76,0,7.83,17.89,-77.59
529,529,Dustlik,77.65,21,0,4.99,40.52,68.04
532,532,Lüderitz,75.20,50,0,6.93,-26.65,15.16